antlr4-python3-runtime==4.8
Sphinx==2.4.4
python-docs-theme==2020.1
Pallets-Sphinx-Themes==1.2.3
pluggy==0.13.1
py==1.10.0
pylint==2.4.4
pyflakes==2.1.1
pytest==5.3.5
pytest-cov==2.8.1
virtualenv==20.0.8
sphinx-issues==1.2.0
sphinxcontrib-log-cabinet==1.0.1
Click==7.0
hexdump==3.3
pre-commit==2.1.1
wheel==0.38.1
twine==3.1.1
